table {
    width: 60vw;
    border-collapse: collapse;
}

thead {
    font-size: 1.5em;
}

th, td {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid black;
}

button {
    margin: 10px;
}
.button-remove {
    background-color: rgb(199, 0, 0);
}
.button-edit {
    background-color: lightgray;
    color: rgb(50, 50, 50);
}
.button-more {
    
}